<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
      <div class="container fluid">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <h3>Upload Video Setting</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div style="width: 300px; height: 200px">
              <h5>Current Thumbnail Image</h5>
              <img
                class="w-100 h-100"
                src="<%= video.thumbnailImg %> "
                alt="<%= video.name%>"
              />
            </div>
            <form id="updateVideoForm" class="mt-5">
              <div class="form-group">
                <label for="name">Name of Your Video</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  value="<%= video.name %> "
                />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  value="<%= video.description %> "
                />
              </div>
              <div class="form-group">
                <input type="hidden" id="videoId" value="<%=video._id %> " />
              </div>
              <div class="form-group">
                <label for="thumbnailImg"
                  >Choose new thumbnaill image of your video</label
                >
                <input
                  type="file"
                  name="thumbnailImg"
                  class="form-control-file"
                  id="thumbnailImg"
                />
              </div>
              <button type="submit" class="btn btn-primary">UpDate</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--Axios-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $("#updateVideoForm button[type=submit]").click(async (e) => {
        e.preventDefault();
        const name = $("#name").val();
        const description = $("#description").val();
        const form = $("changeProfileForm")[0];
        const formData = new FormData(form);
        formData.append("description", description);
        formData.append("name", name);
        formData.append("thumbnailImg", $("#thumbnailImg")[0].files[0]);
        const videoId = $("#videoId").val();
        const response = await axios({
          method: "put",
          url: `/api/videos/${videoId}`,
          data: formData,
          headers: { "Content-Type": "multipart/form-data" },
        });
        if (response.status === 200) {
          location.assign("/chanelPage");
        }
      });
    </script>
  </body>
</html>
